.works {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow {
        position: absolute;
        width: 50px;
        cursor: pointer;
        animation: arrowBlink 1.5s infinite;

        @keyframes arrowBlink {
            100% {
                opacity: 0.5;
            }
        }

        &.left {
            left: 100px;
            transform: rotateY(180deg);
        }

        &.right {
            right: 100px;
        }
    }

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;

        transition: all 1s ease-out;

        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item {
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .left {
                    flex: 4;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 80%;

                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: rgb(235, 148, 117);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                width: 25px;
                            }
                        }

                        h2 {
                            font-size: 20px;
                        }

                        p {
                            font-size: 13px;
                        }
                        a {
                            font-size: 12px;
                            text-decoration: underline;
                            margin-left: 12px;
                            color: black;
                            margin-bottom: 5px;
                            transition: all 0.3s ease-in-out;
                            &:hover {
                                transform: scale(1.1, 1.2);
                            }
                            .git {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }

                .right {
                    flex: 8;
                    height: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    overflow-y: hidden;

                    img {
                        width: 400px;
                        border-radius: 8px;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}
